* {
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: normal;
}

.container {
  padding: 24px;
  padding-top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  max-width: 100% !important;
}

.ion-padding-start {
  margin-bottom: 16px;

  input {
    border: none; // for black border
    outline: none; // for focus outline remove
  }
}


ion-toolbar ion-img {
  height: 150px;
}

ion-header.md.header-md.header-collapse-none.hydrated {
  box-shadow: none !important;
  height: 80px !important;
  overflow: hidden;
  display: flex !important;
  align-items: center !important;
}

ion-item {
  --highlight-color-focused: none;
}


.placement {
  margin-right: 24px;
  margin-bottom: 24px;

  

  ion-img.icon {
    width: 24px !important;
    height: 24px !important;
  }

  h5 {
    height: 16px;
    display: flex;
  }
}

ion-card {
  width: 250px;
  height: 444px;
  margin-inline: 0 !important;
  align-items: center;
  display: flex;
  background-color: #F2F2F2;

  ion-card-content {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.row {
  justify-content: space-between;
}

#ig-header {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
  border-color: #C7C7C7;
  border-width: 1px;
  width: 100%;

  ion-img {
    height: 25px;
  }
}

.avatar {
  height: 20px;
  width: 20px;

  ion-img {
    border-radius: 50% !important;
    overflow: hidden;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 40px;

  p {
    font-size: 11px;
    height: 11.5px;
    display: flex;
    align-items: center;
  }

  ion-icon {
    font-size: 20px;
  }
}

.action {
  width: 100%;
  min-height: 40px;
  padding: 8px 10px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ion-img {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }
}

.instagram {
  border-color: #C7C7C7;
  border-width: 1px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  max-height: 100%;
  overflow-y: scroll;
}

.description {
  max-width: 100%;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
}

.media ion-img{
  max-width: 248px;
  max-height: 248px;
  overflow: hidden;
}

.facebook {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  max-height: 100%;
  overflow-y: scroll;

  .avatar {
    height: 30px !important;
    width: 30px !important;
  }

  .profile {
    padding: 10px;
    min-height: 50px;
  }

  .media {
    max-width: 100%;
  }

  ion-button {
    font-size: 11px;
    --border-radius: 4px;
    --border-color: #4A4A4A;
    --border-style: solid;
    --border-width: 1px;
    color: #4A4A4A;
    letter-spacing: normal;
    --padding-top: 3px;
    --padding-bottom: 3px;
    --padding-left: 8px;
    --padding-right: 8px;
    --height: 21px;
  }

  .action {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
    border-top: #C7C7C7;
    border-width: 2px;

    ion-img {
      margin-right: 8px;
      width: 14px;
      height: 14px;
    }

    
  }
}

.story {
  width: 100%;
  background-color: #4A4A4A;
  max-height: 100%;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;

  p, ion-icon {
    color: white;
    margin: 0;
  }

  ion-button {
    font-size: 14px;
    --background: white;
    --box-shadow: none;
    color: black;
    --border-radius: 10px;
    text-transform: none;
    letter-spacing: normal;
    font-family: 'Times New Roman', Times, serif !important;
  }

  #ig-link ion-button {
    font-family: Arial, Helvetica, sans-serif !important;
    --border-radius: 6px;
    --padding-start: 6px;
    --padding-end: 8px;
    --padding-top: 2px;
    --padding-bottom: 2px;
  }

  ion-progress-bar {
    --background: #909090;
    --progress-background: white;
    height: 1.7px;
  }

  .media {
    ion-img {
      max-height: 250px;
      max-width: 250px;
    }
  }
}

.reels {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: end;

  p {
    color: white;
    margin: 0;
  }

  .profile {
    padding: 0;
  }

  .media {
    position: fixed;
    ion-img {
      max-height: 250px;
      max-width: 250px;
    }
  }

  .background-image {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: auto;
  }

  ion-button {
    --background: white;
    --box-shadow: none;
    color: black;
    --border-radius: 4px;
    text-transform: none;
    letter-spacing: normal;
    width: 100%;
    font-size: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  ion-row {
    width: 100% !important;
  }

  ion-col {
    padding: 10px;
  }

  ion-icon {
    color: white !important;
    font-size: 14px;
  }

  .background-img {
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background: white;
    opacity: 0.2;
    border-radius: 50%;
    position: fixed;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }
}

.instagram-reels {
  ion-icon {
    font-size: 20px;
  }

  .icon {
    margin-bottom: 16px;
  }

  ion-chip {
    width: max-content;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
  }

  [size="small"] {
    height: 15px;
  }
}

