<ion-header>
  <ion-toolbar>
    <ion-img src="assets/kanko-logo.svg" class="header"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <ion-row class="row">
      <ion-col size="4">
        <div class="ion-padding-start">
          <ion-label position="stacked">Ad name</ion-label>
          <ion-input placeholder="Enter Ad name" value="New ad"></ion-input>
        </div>

        <!-- <ion-list>
          <ion-radio-group value="single">
            <div class="ion-padding-start">
              <ion-radio value="single" labelPlacement="end"
                >Single image or video</ion-radio
              >
              <ion-radio value="carousel" labelPlacement="end"
                >Carousel</ion-radio
              >
            </div>
          </ion-radio-group>
        </ion-list> -->

        <div class="ion-padding-start">
          <ion-label position="stacked">Primary text</ion-label>
          <ion-input placeholder="Enter primary text"></ion-input>
        </div>
        <div class="ion-padding-start">
          <ion-label position="stacked">Headline</ion-label>
          <ion-input
            placeholder="Write a short headline"
            [counter]="true"
            maxlength="255"
            [counterFormatter]="customCounterFormatter"
          ></ion-input>
        </div>
        <div class="ion-padding-start">
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea placeholder="Include additional details"></ion-textarea>
        </div>
      </ion-col>

      <ion-col size="7">
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-label>
                <h1>Feeds</h1>
              </ion-label>
            </ion-row>
            <ion-row>
              <div class="placement">
                <div class="d-flex align-items-center">
                  <div class="pe-2">
                    <ion-img src="assets/facebook.png" class="icon"></ion-img>
                  </div>
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0" style="opacity: 0.6">Facebook</h5>
                    <h4 class="m-0 p-0">Feeds</h4>
                  </div>
                </div>

                <ion-card size="1">
                  <div class="facebook">
                    <div class="profile">
                      <div class="d-flex align-items-center">
                        <div class="avatar me-2">
                          <ion-img src="assets/kanko-icon-blue.png"></ion-img>
                        </div>
                        <div>
                          <p
                            class="m-0"
                            style="
                              font-size: 0.75rem;
                              height: 17.5px;
                              font-weight: bold;
                            "
                          >
                            Kanko
                          </p>
                          <p
                            class="m-0"
                            style="font-size: 0.65rem; opacity: 0.6"
                          >
                            Sponsored
                          </p>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-icon
                          name="close-outline"
                          style="font-size: 25px; margin-right: 16px"
                        ></ion-icon>
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </div>
                    </div>
                    <div class="w-100">
                      <p
                        class="description m-0"
                        style="font-size: 0.75rem; line-height: 14px"
                      >
                        {{( expandFb == false? description.slice(0,100) :
                        description) + (expandFb == false && description.length
                        > 100 ? '... ' : '')}}
                        <span
                          style="opacity: 0.6; cursor: pointer"
                          (click)="expandFb = true"
                          >{{ expandFb == false && description.length > 100 ?
                          'See more' : '' }}</span
                        >
                      </p>
                    </div>
                    <div class="media">
                      <ion-img [src]="imgSource"></ion-img>
                    </div>
                    <div class="profile" style="height: 58px">
                      <div>
                        <p
                          class="m-0"
                          style="
                            font-size: 0.75rem;
                            height: 16.5px;
                            font-weight: bold;
                          "
                        >
                          Kanko
                        </p>
                        <p class="m-0" style="font-size: 0.65rem; opacity: 0.6">
                          Organisation
                        </p>
                      </div>
                      <ion-button fill="outline" size="small"
                        >LEARN MORE</ion-button
                      >
                      <!-- <button class="facebook border">LEARN MORE</button> -->
                    </div>
                    <div class="action border-top">
                      <hr />
                      <div class="d-flex align-items-center me-2">
                        <ion-img src="assets/icon/icon-like-fb.png"></ion-img>
                        <ion-label>Like</ion-label>
                      </div>
                      <div class="d-flex align-items-center me-2 ms-2">
                        <ion-img
                          src="assets/icon/icon-comment-fb.png"
                        ></ion-img>
                        <ion-label>Comment</ion-label>
                      </div>
                      <div class="d-flex align-items-center ms-2">
                        <ion-img src="assets/icon/icon-share-fb.png"></ion-img>
                        <ion-label>Share</ion-label>
                      </div>
                    </div>
                  </div>
                </ion-card>
              </div>

              <div class="placement">
                <div class="d-flex align-items-center">
                  <div class="pe-2">
                    <ion-img src="assets/instagram.png" class="icon"></ion-img>
                  </div>
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0" style="opacity: 0.6">Instagram</h5>
                    <h4 class="m-0 p-0">Feed</h4>
                  </div>
                </div>

                <ion-card size="1">
                  <div class="instagram border">
                    <div id="ig-header" class="border-bottom">
                      <ion-img src="assets/instagram-logo-2.png"></ion-img>
                    </div>
                    <div class="profile">
                      <div class="d-flex align-items-center">
                        <div class="avatar me-2">
                          <ion-img src="assets/kanko-icon-blue.png"></ion-img>
                        </div>
                        <div>
                          <p class="m-0">kanko</p>
                          <p class="m-0" style="font-size: 10px">Sponsored</p>
                        </div>
                      </div>

                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </div>
                    <div class="media">
                      <ion-img [src]="imgSource"></ion-img>
                    </div>
                    <div class="action">
                      <div class="d-flex align-items-center">
                        <ion-img src="assets/icon/icon-like.png"></ion-img>
                        <ion-img src="assets/icon/icon-comment.png"></ion-img>
                        <ion-img src="assets/icon/icon-share.png"></ion-img>
                      </div>
                      <div>
                        <ion-img
                          src="assets/icon/icon-bookmark.png"
                          class="m-0"
                        ></ion-img>
                      </div>
                    </div>
                    <div class="w-100">
                      <p
                        class="description pt-0"
                        style="font-size: 11px; line-height: 14px"
                      >
                        <span style="font-weight: bold"> kanko </span>
                        {{( expandIg == false? description.slice(0,70) :
                        description) + (expandIg == false && description.length
                        > 70 ? '... ' : '')}}
                        <span
                          style="opacity: 0.6; cursor: pointer"
                          (click)="expandIg = true"
                          >{{ expandIg == false && description.length > 70 ?
                          'more' : '' }}</span
                        >
                      </p>
                    </div>
                  </div>
                </ion-card>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-label>
                <h1>Stories and Reels</h1>
              </ion-label>
            </ion-row>
            <ion-row>
              <div class="placement">
                <div class="d-flex align-items-center">
                  <div class="pe-2">
                    <ion-img src="assets/facebook.png" class="icon"></ion-img>
                  </div>
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0" style="opacity: 0.6">Facebook</h5>
                    <h4 class="m-0 p-0">Stories</h4>
                  </div>
                </div>

                <ion-card size="1" style="align-items: normal">
                  <div class="story">
                    <div style="min-height: 60px" class="w-100">
                      <div class="w-100 p-2 pb-0">
                        <ion-progress-bar [value]="progressFb"></ion-progress-bar>
                      </div>

                      <div class="profile">
                        <div class="d-flex align-items-center">
                          <div class="avatar me-2">
                            <ion-img src="assets/kanko-icon-blue.png"></ion-img>
                          </div>
                          <div>
                            <p class="m-0" style="font-weight: bold">Kanko</p>
                            <p class="m-0" style="font-size: 10px">Sponsored</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-center flex-end">
                          <ion-icon
                            name="ellipsis-horizontal"
                            style="margin-right: 8px; font-size: 11px"
                          ></ion-icon>
                          <ion-icon name="close-outline"></ion-icon>
                        </div>
                      </div>
                    </div>
                    <div class="media">
                      <ion-img [src]="imgSource"></ion-img>
                    </div>
                    <div class="w-100 p-3">
                      <p
                        class="description"
                        style="font-size: 12px; line-height: 14px"
                      >
                        {{( description.slice(0,75) ) + ( description.length >
                        75 ? '... ' : '')}}
                        <span style="opacity: 0.6; text-decoration: underline"
                          >{{ description.length > 75 ? 'More' : '' }}</span
                        >
                      </p>
                    </div>
                    <div>
                      <ion-button
                        ><ion-icon
                          name="link-outline"
                          color="primary"
                          style="font-size: 20px"
                          class="me-1"
                        ></ion-icon
                        >Learn more</ion-button
                      >
                    </div>
                  </div>
                </ion-card>
              </div>

              <div class="placement">
                <div class="d-flex align-items-center">
                  <div class="pe-2">
                    <ion-img src="assets/instagram.png" class="icon"></ion-img>
                  </div>
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0" style="opacity: 0.6">Instagram</h5>
                    <h4 class="m-0 p-0">Stories</h4>
                  </div>
                </div>

                <ion-card size="1" style="align-items: normal">
                  <div class="story">
                    <div style="min-height: 40px" class="w-100">
                      <div class="w-100 p-2 pb-0">
                        <ion-progress-bar [value]="progressIg"></ion-progress-bar>
                      </div>

                      <div class="profile">
                        <div class="d-flex align-items-center">
                          <div class="avatar me-2">
                            <ion-img src="assets/kanko-icon-blue.png"></ion-img>
                          </div>
                          <div>
                            <p class="m-0" >kanko</p>
                            <p class="m-0" style="font-size: 10px">Sponsored</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-center flex-end">
                          <ion-icon
                            name="ellipsis-horizontal"
                            style="margin-right: 8px; font-size: 11px"
                          ></ion-icon>
                          <ion-icon name="close-outline"></ion-icon>
                        </div>
                      </div>
                    </div>
                    <div class="media">
                      <ion-img [src]="imgSource"></ion-img>
                    </div>
                    <div class="w-100 p-3">
                      <p
                        class="description"
                        style="font-size: 12px; line-height: 14px"
                      >
                        {{( description.slice(0,60) ) + ( description.length >
                        60 ? '... ' : '')}}
                        <span style="opacity: 0.6; text-decoration: underline"
                          >{{ description.length > 60 ? 'More' : '' }}</span
                        >
                      </p>
                    </div>
                    <div id="ig-link">
                      <ion-button
                      
                        ><ion-icon
                          name="link-outline"
                          color="primary"
                          style="font-size: 24px; transform: rotate(-45deg);"
  
                          class="me-1"
                        ></ion-icon
                        >LEARN MORE</ion-button
                      >
                    </div>
                  </div>
                </ion-card>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
