<ion-header>
  <ion-toolbar>
    <ion-img src="assets/kanko-logo.svg" class="header"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding custom-content">
  <div class="container">
    <ion-row class="row" style="height: 100%">
      <ion-col
        size="4"
        style="height: 100%; overflow-y: auto; padding-right: 32px"
      >
        <div class="ion-padding-start">
          <ion-label position="stacked">Ad name</ion-label>
          <ion-input placeholder="Enter Ad name" value="New ad"></ion-input>
        </div>
        <div class="ion-padding-start mb-2">
          <ion-label position="stacked">Media</ion-label>
        </div>
        <div class="ion-padding-start select-media mb-2">
          <div
            class="d-flex flex-end"
            *ngIf="imgSource !== 'assets/kanko-poster.png'"
          >
            <ion-thumbnail class="me-2">
              <img [src]="imgSource" />
            </ion-thumbnail>
          </div>

          <ion-button>
            <ion-icon lazy="true" slot="start" name="image"></ion-icon>
            <ion-label slot="end"
              >{{ imgSource === 'assets/kanko-poster.png'? 'Upload Image' :
              'Replace image'}}</ion-label
            >
            <input
              type="file"
              id="file-input"
              (change)="fileUpload($event)"
              accept="image/png, image/jpg"
              #coverFilesInput
            />
          </ion-button>
        </div>
        <div class="ion-padding-start">
          <ion-chip class="m-0 mb-2" color="danger" *ngIf="warningMedia">
            <ion-icon name="alert-circle-outline" class="m-0"></ion-icon>
            <ion-label style="font-size: 13px; width: 90%; padding-left: 8px"
              >{{ warningMedia }}</ion-label
            >
          </ion-chip>
          <ion-chip class="m-0 mb-2" color="danger" *ngIf="warningRatio1">
            <ion-icon name="alert-circle-outline" class="m-0"></ion-icon>
            <ion-label style="font-size: 13px; width: 90%; padding-left: 8px"
              >{{ warningRatio1 }}</ion-label
            >
          </ion-chip>
          <ion-chip class="m-0 mb-2" color="danger" *ngIf="warningRatio2">
            <ion-icon name="alert-circle-outline" class="m-0"></ion-icon>
            <ion-label style="font-size: 13px; width: 90%; padding-left: 8px"
              >{{ warningRatio2 }}</ion-label
            >
          </ion-chip>
          <ion-chip class="m-0 mb-2" color="danger" *ngIf="warningRatio3">
            <ion-icon name="alert-circle-outline" class="m-0"></ion-icon>
            <ion-label style="font-size: 13px; width: 90%; padding-left: 8px"
              >{{ warningRatio3 }}</ion-label
            >
          </ion-chip>
        </div>
        <div class="ion-padding-start">
          <ion-label position="stacked">Primary text</ion-label>
          <ion-input
            placeholder="Enter primary text"
            [counter]="true"
            maxlength="125"
            [(ngModel)]="primaryText"
            (ngModelChange)="validatePrimaryText()"
          ></ion-input>
        </div>
        <div class="ion-padding-start">
          <ion-chip class="m-0" color="danger" *ngIf="warningPrimaryText">
            <ion-icon name="alert-circle-outline" class="m-0"></ion-icon>
            <ion-label style="font-size: 13px; width: 90%; padding-left: 8px"
              >{{ warningPrimaryText }}</ion-label
            >
          </ion-chip>
        </div>
        <div class="ion-padding-start">
          <ion-label position="stacked">Headline</ion-label>
          <ion-input
            placeholder="Write a short headline"
            [counter]="true"
            maxlength="40"
            [(ngModel)]="headline"
            (ngModelChange)="validateHeadline()"
          ></ion-input>
        </div>
        <div class="ion-padding-start">
          <ion-chip class="m-0" color="danger" *ngIf="warningHeadline">
            <ion-icon name="alert-circle-outline" class="m-0"></ion-icon>
            <ion-label style="font-size: 13px; width: 90%; padding-left: 8px"
              >{{ warningHeadline }}</ion-label
            >
          </ion-chip>
        </div>
        <div class="ion-padding-start">
          <ion-label position="stacked">Description</ion-label>
          <ion-input
            placeholder="Include additional details"
            [counter]="true"
            maxlength="27"
            [(ngModel)]="description"
          ></ion-input>
        </div>
        <div class="ion-padding-start">
          <ion-label position="stacked">Website URL</ion-label>
          <ion-input
            placeholder="http://www.example.com"
            [(ngModel)]="websiteUrl"
          ></ion-input>
        </div>
        <div class="ion-padding-start">
          <ion-label position="stacked">Call to action (CTA)</ion-label>
          <ion-select
            slot="end"
            placeholder="Select button"
            label-placement="floating"
            interface="popover"
            class="has-value"
            value="learn-more"
          >
            <ion-select-option value="learn-more">Learn more</ion-select-option>
            <ion-select-option value="button">Button</ion-select-option>
            <ion-select-option value="contact-us">Contact us</ion-select-option>
          </ion-select>
        </div>
      </ion-col>

      <ion-col size="7" style="height: 100%; overflow-y: auto">
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-label>
                <h1>Feeds</h1>
              </ion-label>
            </ion-row>
            <ion-row>
              <div class="placement">
                <div class="d-flex align-items-center">
                  <div class="pe-2">
                    <ion-img src="assets/facebook.png" class="icon"></ion-img>
                  </div>
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0" style="opacity: 0.6">Facebook</h5>
                    <h4 class="m-0 p-0">Feeds</h4>
                  </div>
                </div>

                <ion-card size="1">
                  <div class="facebook">
                    <div class="profile">
                      <div class="d-flex align-items-center">
                        <div class="avatar me-2">
                          <ion-img src="assets/kanko-icon-blue.png"></ion-img>
                        </div>
                        <div>
                          <p
                            class="m-0"
                            style="
                              font-size: 0.75rem;
                              height: 17.5px;
                              font-weight: bold;
                            "
                          >
                            Kanko
                          </p>
                          <p
                            class="m-0"
                            style="font-size: 0.65rem; opacity: 0.6"
                          >
                            Sponsored
                          </p>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-icon
                          name="close-outline"
                          style="font-size: 25px; margin-right: 16px"
                        ></ion-icon>
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </div>
                    </div>
                    <div class="w-100">
                      <p
                        class="description m-0"
                        style="font-size: 0.75rem; line-height: 14px"
                      >
                        {{( expandFb == false? primaryText.slice(0,100) :
                        primaryText) + (expandFb == false && primaryText.length
                        > 100 ? '... ' : '')}}
                        <span
                          style="opacity: 0.6; cursor: pointer"
                          (click)="expandFb = true"
                          >{{ expandFb == false && primaryText.length > 100 ?
                          'See more' : '' }}</span
                        >
                      </p>
                    </div>
                    <div class="media">
                      <ion-img [src]="imgSource"></ion-img>
                    </div>
                    <div class="profile">
                      <div>
                        <p
                          class="m-0"
                          style="
                            font-size: 0.75rem;
                            height: auto;
                            font-weight: bold;
                          "
                        >
                          {{ headline? headline : 'Kanko' }}
                        </p>
                        <p class="m-0" style="font-size: 0.65rem; opacity: 0.6">
                          {{ description? description : 'Organisation' }}
                        </p>
                      </div>
                      <ion-button fill="outline" size="small"
                        >LEARN MORE</ion-button
                      >
                      <!-- <button class="facebook border">LEARN MORE</button> -->
                    </div>
                    <div class="action border-top">
                      <hr />
                      <div class="d-flex align-items-center me-2">
                        <ion-img src="assets/icon/icon-like-fb.png"></ion-img>
                        <ion-label>Like</ion-label>
                      </div>
                      <div class="d-flex align-items-center me-2 ms-2">
                        <ion-img
                          src="assets/icon/icon-comment-fb.png"
                        ></ion-img>
                        <ion-label>Comment</ion-label>
                      </div>
                      <div class="d-flex align-items-center ms-2">
                        <ion-img src="assets/icon/icon-share-fb.png"></ion-img>
                        <ion-label>Share</ion-label>
                      </div>
                    </div>
                  </div>
                </ion-card>
              </div>

              <div class="placement">
                <div class="d-flex align-items-center">
                  <div class="pe-2">
                    <ion-img src="assets/instagram.png" class="icon"></ion-img>
                  </div>
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0" style="opacity: 0.6">Instagram</h5>
                    <h4 class="m-0 p-0">Feed</h4>
                  </div>
                </div>

                <ion-card size="1">
                  <div class="instagram border">
                    <div id="ig-header" class="border-bottom">
                      <ion-img src="assets/instagram-logo-2.png"></ion-img>
                    </div>
                    <div class="profile">
                      <div class="d-flex align-items-center">
                        <div class="avatar me-2">
                          <ion-img src="assets/kanko-icon-blue.png"></ion-img>
                        </div>
                        <div>
                          <p class="m-0">kanko</p>
                          <p class="m-0" style="font-size: 10px">Sponsored</p>
                        </div>
                      </div>

                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </div>
                    <div class="media">
                      <ion-img [src]="imgSource"></ion-img>
                    </div>
                    <div class="profile border-bottom" *ngIf="websiteUrl">
                      <p class="m-0" style="font-weight: bold">Learn more</p>
                      <ion-icon
                        name="chevron-forward-outline"
                        style="font-size: 14px"
                      ></ion-icon>
                    </div>
                    <div class="action">
                      <div class="d-flex align-items-center">
                        <ion-img src="assets/icon/icon-like.png"></ion-img>
                        <ion-img src="assets/icon/icon-comment.png"></ion-img>
                        <ion-img src="assets/icon/icon-share.png"></ion-img>
                      </div>
                      <div>
                        <ion-img
                          src="assets/icon/icon-bookmark.png"
                          class="m-0"
                        ></ion-img>
                      </div>
                    </div>
                    <div class="w-100">
                      <p
                        class="description pt-0"
                        style="font-size: 11px; line-height: 14px"
                      >
                        <span style="font-weight: bold"> kanko </span>
                        {{( expandIg == false? primaryText.slice(0,70) :
                        primaryText) + (expandIg == false && primaryText.length
                        > 70 ? '... ' : '')}}
                        <span
                          style="opacity: 0.6; cursor: pointer"
                          (click)="expandIg = true"
                          >{{ expandIg == false && primaryText.length > 70 ?
                          'more' : '' }}</span
                        >
                      </p>
                    </div>
                  </div>
                </ion-card>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-label>
                <h1>Stories and Reels</h1>
              </ion-label>
            </ion-row>
            <ion-row>
              <div class="placement">
                <div class="d-flex align-items-center">
                  <div class="pe-2">
                    <ion-img src="assets/facebook.png" class="icon"></ion-img>
                  </div>
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0" style="opacity: 0.6">Facebook</h5>
                    <h4 class="m-0 p-0">Stories</h4>
                  </div>
                </div>

                <ion-card size="1" style="align-items: normal">
                  <div class="story">
                    <div class="w-100 story-header" style="background: none">
                      <div class="w-100 p-2 pb-0">
                        <ion-progress-bar
                          [value]="progressFb"
                        ></ion-progress-bar>
                      </div>

                      <div class="profile">
                        <div class="d-flex align-items-center">
                          <div class="avatar me-2">
                            <ion-img src="assets/kanko-icon-blue.png"></ion-img>
                          </div>
                          <div>
                            <p class="m-0" style="font-weight: bold">Kanko</p>
                            <p class="m-0" style="font-size: 10px">Sponsored</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-center flex-end">
                          <ion-icon
                            name="ellipsis-horizontal"
                            style="margin-right: 8px; font-size: 11px"
                          ></ion-icon>
                          <ion-icon name="close-outline"></ion-icon>
                        </div>
                      </div>
                    </div>
                    <div class="background-image">
                      <div class="media">
                        <ion-img
                          [src]="imgSource"
                          style="max-height: 100%"
                        ></ion-img>
                      </div>
                    </div>
                    <div class="story-box" style="background: none">
                      <div class="w-100 p-3">
                        <p
                          class="description"
                          style="font-size: 12px; line-height: 14px"
                        >
                          {{( primaryText.slice(0,75) ) + ( primaryText.length >
                          75 ? '... ' : '')}}
                          <span style="opacity: 0.6; text-decoration: underline"
                            >{{ primaryText.length > 75 ? 'More' : '' }}</span
                          >
                        </p>
                      </div>
                      <div>
                        <ion-button
                          ><ion-icon
                            name="link-outline"
                            color="primary"
                            style="font-size: 20px"
                            class="me-1"
                          ></ion-icon
                          >Learn more</ion-button
                        >
                      </div>
                    </div>
                  </div>
                </ion-card>
              </div>

              <div class="placement">
                <div class="d-flex align-items-center">
                  <div class="pe-2">
                    <ion-img src="assets/instagram.png" class="icon"></ion-img>
                  </div>
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0" style="opacity: 0.6">Instagram</h5>
                    <h4 class="m-0 p-0">Stories</h4>
                  </div>
                </div>

                <ion-card size="1" style="align-items: normal">
                  <div class="story">
                    <div style="min-height: 40px" class="w-100 story-header">
                      <div class="w-100 p-2 pb-0">
                        <ion-progress-bar
                          [value]="progressIg"
                        ></ion-progress-bar>
                      </div>

                      <div class="profile">
                        <div class="d-flex align-items-center">
                          <div class="avatar me-2">
                            <ion-img src="assets/kanko-icon-blue.png"></ion-img>
                          </div>
                          <div>
                            <p class="m-0">kanko</p>
                            <p class="m-0" style="font-size: 10px">Sponsored</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-center flex-end">
                          <ion-icon
                            name="ellipsis-horizontal"
                            style="margin-right: 8px; font-size: 11px"
                          ></ion-icon>
                          <ion-icon name="close-outline"></ion-icon>
                        </div>
                      </div>
                    </div>
                    <div class="background-image">
                      <div class="media">
                        <ion-img
                          [src]="imgSource"
                          style="max-height: 100%"
                        ></ion-img>
                      </div>
                    </div>
                    <div class="story-box">
                      <div class="w-100 p-3">
                        <p
                          class="description"
                          style="font-size: 12px; line-height: 14px"
                        >
                          {{( primaryText.slice(0,60) ) + ( primaryText.length >
                          60 ? '... ' : '')}}
                          <span style="opacity: 0.6; text-decoration: underline"
                            >{{ primaryText.length > 60 ? 'More' : '' }}</span
                          >
                        </p>
                      </div>
                      <div id="ig-link">
                        <ion-button
                          ><ion-icon
                            name="link-outline"
                            color="primary"
                            style="font-size: 24px; transform: rotate(-45deg)"
                            class="me-1"
                          ></ion-icon
                          >LEARN MORE</ion-button
                        >
                      </div>
                    </div>
                  </div>
                </ion-card>
              </div>

              <div class="placement">
                <div class="d-flex align-items-center">
                  <div class="pe-2">
                    <ion-img src="assets/facebook.png" class="icon"></ion-img>
                  </div>
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0" style="opacity: 0.6">Facebook</h5>
                    <h4 class="m-0 p-0">Reels</h4>
                  </div>
                </div>

                <ion-card size="1" style="align-items: normal">
                  <div class="reels">
                    <div class="background-image">
                      <div class="media">
                        <ion-img [src]="imgSource"></ion-img>
                      </div>
                    </div>

                    <ion-row>
                      <ion-col
                        size="10"
                        class="d-flex flex-column align-self-end"
                      >
                        <div class="profile">
                          <div class="d-flex align-items-center">
                            <div class="avatar me-2">
                              <ion-img
                                src="assets/kanko-icon-blue.png"
                              ></ion-img>
                            </div>
                            <div>
                              <p class="m-0" style="font-weight: bold">Kanko</p>
                              <p class="m-0" style="font-size: 10px">
                                Sponsored
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="w-100 pb-1">
                          <p
                            class="d-flex justify-content-between"
                            style="font-size: 11px; line-height: 14px"
                          >
                            {{( primaryText.slice(0,30) )}}
                            <span style="opacity: 0.6"
                              >{{ primaryText.length > 30 ? '...more' : ''
                              }}</span
                            >
                          </p>
                        </div>
                        <ion-button size="small">Learn more</ion-button>
                      </ion-col>
                      <ion-col class="d-flex flex-column ps-0">
                        <div class="icon">
                          <div class="background-img"></div>
                          <ion-icon name="thumbs-up-sharp"></ion-icon>
                        </div>
                        <div class="icon">
                          <div class="background-img"></div>
                          <ion-icon name="chatbox"></ion-icon>
                        </div>
                        <div class="icon">
                          <div class="background-img"></div>
                          <ion-icon name="arrow-redo-sharp"></ion-icon>
                        </div>
                        <div class="icon mb-2">
                          <div class="background-img"></div>
                          <ion-icon name="ellipsis-horizontal"></ion-icon>
                        </div>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-card>
              </div>

              <div class="placement">
                <div class="d-flex align-items-center">
                  <div class="pe-2">
                    <ion-img src="assets/instagram.png" class="icon"></ion-img>
                  </div>
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0" style="opacity: 0.6">Instagram</h5>
                    <h4 class="m-0 p-0">Reels</h4>
                  </div>
                </div>

                <ion-card size="1" style="align-items: normal">
                  <div class="instagram-reels reels">
                    <div class="background-image">
                      <div class="media">
                        <ion-img [src]="imgSource"></ion-img>
                      </div>
                    </div>
                    <div
                      style="
                        width: 100%;
                        height: 100%;
                        justify-content: space-between;
                        display: flex;
                        flex-direction: column;
                      "
                    >
                      <ion-row
                        style="
                          background: linear-gradient(
                            to top,
                            transparent 20%,
                            black 150%
                          );
                          z-index: 2;
                          height: 70px;
                        "
                      >
                      </ion-row>

                      <ion-row
                        style="
                          background: linear-gradient(
                            to bottom,
                            transparent 20%,
                            black 150%
                          );
                          z-index: 2;
                        "
                      >
                        <ion-col
                          size="10"
                          class="d-flex flex-column align-self-end"
                        >
                          <div class="profile">
                            <div class="d-flex align-items-center">
                              <div class="avatar me-2">
                                <ion-img
                                  src="assets/kanko-icon-blue.png"
                                ></ion-img>
                              </div>
                              <div>
                                <p class="m-0">kanko</p>
                              </div>
                            </div>
                          </div>
                          <ion-button size="small">Learn more</ion-button>
                          <div class="w-100 mt-1 mb-2">
                            <p style="font-size: 10px; line-height: 14px">
                              {{( primaryText.slice(0,65) ) + (
                              primaryText.length > 65 ? '... ' : '')}}
                              <span style="opacity: 0.6"
                                >{{ primaryText.length > 65 ? 'more' : ''
                                }}</span
                              >
                            </p>
                          </div>
                          <ion-chip color="light" size="small">
                            <ion-icon
                              name="megaphone"
                              style="font-size: 8px"
                            ></ion-icon>
                            <ion-label style="font-size: 8px; color: white"
                              >Sponsored</ion-label
                            >
                          </ion-chip>
                        </ion-col>
                        <ion-col class="d-flex flex-column ps-0 align-self-end">
                          <div class="icon">
                            <ion-icon
                              name="heart-outline"
                              style="font-size: 22px"
                            ></ion-icon>
                          </div>
                          <div class="icon">
                            <ion-icon
                              name="chatbubble-outline"
                              style="
                                transform: scaleX(-1);
                                -webkit-transform: scaleX(-1);
                              "
                            ></ion-icon>
                          </div>
                          <div class="icon">
                            <ion-icon name="paper-plane-outline"></ion-icon>
                          </div>
                          <div class="icon mb-2">
                            <ion-icon
                              name="ellipsis-horizontal"
                              style="font-size: 16px"
                            ></ion-icon>
                          </div>
                        </ion-col>
                      </ion-row>
                    </div>
                  </div>
                </ion-card>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
